{% extends 'base.html.twig' %}

{% block body %}
    <!--Start rev slider wrapper-->     
            <section class="rev_slider_wrapper">
                <div id="slider1" class="rev_slider"  data-version="5.0">
                    <ul>                
                        {% for slider in sliders %}
<li data-transition="fade">
                            <img src="{{ vich_uploader_asset(slider, 'imageFile') }}"  alt="" width="1920" height="550" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >
                            
                            <div class="tp-caption  tp-resizeme" 
                                data-x="center" data-hoffset="0" 
                                data-y="center" data-voffset="-50" 
                                data-transform_idle="o:1;"         
                                data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                                data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                                data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
                                data-splitin="none" 
                                data-splitout="none"
                                data-responsive_offset="on"
                                data-start="700">
                                <div class="slide-content-box text-center">
                                    <h1>{{ slider.legende|upper }}</h1>
                                    {{ slider.description|raw }}
                                </div>
                            </div>
                        </li>   
                        {% endfor %}
                    </ul>
                </div>
            </section>
            <!--End rev slider wrapper-->


            <!--Wellcome Section-->
            <section class="" style="margin-top: 100px">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                            <div class="image-box">
                                <figure>
                                    <img src="{{ vich_uploader_asset(accueil, 'imageFile') }}" alt="">
                                </figure>
                            </div>                    
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <div class="image-text">
                                <h3>{{ accueil.titre }}</h3>
                                {{ accueil.description|raw }}
                                                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End Wellcome Section-->

            <!--blog section--> 
            <section class="blog-section">
                <div class="container">
                    <div class="section-title text-center">
                        <h2>Actualités</h2>
                    </div>
                    <div class="row">
                        {% for actualite in actualites %}
                         <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="item-holder">
                                <div class="image-box">
                                    <figure>
                                        <a href="#"><img src="{{ vich_uploader_asset(actualite, 'imageFile') }}" alt="{{ actualite.titre }}"></a>
                                    </figure>
                                </div>
                                <div class="content-text">
                                    <div class="sec-title">
                                        <a href="#"><h5>{{ actualite.titre }}</h5></a>
                                    </div>
                                    <div class="text">
                                        <p>{{ actualite.resume|raw }}</p>
                                    </div>
                                    <div class="link-btn">
                                        <a href="#" class="btn-style-one">lire </a>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        {% endfor %}
                    </div>
                </div>
            </section>
            <!--End blog section-->
{% endblock %}

