{% extends 'base.html.twig' %}

{% block body %}
    <h1>Documentation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ documentation.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ documentation.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ documentation.description }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if documentation.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Imagename</th>
                <td>{{ documentation.imageName }}</td>
            </tr>
            <tr>
                <th>Imagesize</th>
                <td>{{ documentation.imageSize }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if documentation.updatedAt %}{{ documentation.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ documentation.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ documentation.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ documentation.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ documentation.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ documentation.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_documention_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_documention_edit', { 'id': documentation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
